@{
    Layout = null;
}
<div class="lightbox" id="addBookmarkBox">
    <a href="#" class="lightbox_close">x</a>
    <h2>Добавить закладку</h2>
    <form method="post" action="@Url.Action("AddBookmark", "Book")" 
        class="ajaxForm errorable closable" id="addBookmarkBoxForm">
        <input type="hidden" name="paragraphId" class="bookmarkParagraphId" />
        Название закладки: <input type="text" name="name" class="requiredField bookmarkName"/>
		@Html.SubmitButton(null, "Добавить закладку", new { @class = "submitButton" })
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#addBookmarkBoxForm')[0].success = function () {
            initFrame('bookmarksFrame');
            $('#lightbox_shadow').click();
        };
    });
</script>