@model Tuple<Book, User>
@{
    ViewBag.Title = "Комментарии " + Model.Item2.Name;
}
@section HEAD{
    <script src="@Url.Content("~/Scripts/BookHeader.js")" type="text/javascript"></script>
}
<div id="main" class="commentsByUserList">
@Html.Partial("Header", Model.Item1)

@Html.Action("CommentsByUserPartial", "Book", new { BookId = Model.Item1.Id, UserId = Model.Item2.Id })
</div>