@{
    ViewBag.Title = "Подтверждение аккаунта в Живом журнале";
}
<div id="main">
<h2>Подтверждение аккаунта в Живом журнале</h2>

<form method="post" action="@Url.Action("ProveAccount", "LivejournalLogin")">
<input type="hidden" name="callbackUri" value="@ViewBag.CallbackUri" />
Ваш ник в живом журнале:
<input type="text" name="nickname" />
<input type="submit" value="Войти" />
</form>

</div>