@{
    ViewBag.Title = "Логин через Живой журнал";
}
<div id="main">
<h2>Логин через Живой журнал</h2>

<form method="post" action="@Url.Action("SendRequest", "LivejournalLogin")">
<input type="hidden" name="callbackUri" value="@ViewBag.CallbackUri" />
Ваш ник в живом журнале:
<input type="text" name="nickname" />
<input type="submit" value="Войти" />
</form>

</div>