@model AddCommentModel
@{
    Layout = null;
}


<div class="lightbox" id="addCommentBox">
    <a href="#" class="lightbox_close">x</a>
    <h2>@SideNotes.Resources.Shared.AddCommentBoxHeading</h2>
@{
    int HeadCommentId = 0;
    using (Html.BeginForm<CommentController>(x => x.AddComment(null, HeadCommentId, null, null), FormMethod.Post,
    new { @class = "AddNewCommentForm ajaxForm redirectable errorable", id = "addCommentBoxForm" }))
    {
        <input type="hidden" name="parentCommentId" class="inputParentCommentId"/>
        <input type="hidden" name="headCommentId" class="inputHeadCommentId"/>
	    @Html.TextAreaFor(x => x.commentText, new { @class = "requiredField newCommentTextArea" })
        <br/>
        @Html.ValidationMessageFor(x => x.commentText)
        <br/>
        @Html.SubmitButton(null, SideNotes.Resources.Shared.AddCommentBoxSaveButtonText, new { @class = "submitButton" })
        <div id="errorMessage" class="errorMessage"></div>
    }
}
</div>