@{
    Layout = null;
}

<div class="commentator_container">
	<div class="commentator_labelContainer">
		<a href="#" class="commentator_label">
			@SideNotes.Resources.Misc.CommentatorsDropdownFrom <span class="commentator_counter" id="commentator_counter_span"></span>
		</a>
	</div>
    <div class="commentator_dropbox">
		<ul class="commentator_types_list">
			<li class="commentator_type commentator_type_current" id="commentator_type_all"><a href="#commentatorType1" class="commentator_type_link">@SideNotes.Resources.Shared.CommentatorsDropdownPublicOption</a></li>
			<li class="commentator_type" id="commentator_type_friends"><a href="#commentatorType2" class="commentator_type_link">@SideNotes.Resources.Shared.CommentatorsDropdownFriendsOption</a></li>
			<li class="commentator_type" id="commentator_type_none"><a href="#commentatorType3" class="commentator_type_link">@SideNotes.Resources.Shared.CommentatorsDropdownPrivateOption</a></li>
		</ul>
		<div class="commentator_lists_container">
            <ul class="commentator_list" id="commentatorType1">
			</ul>
			<ul class="commentator_list" id="commentatorType_template"  style="display: none; ">
				<li class="commentator_item" id="commentator_item_template" style="display: none; ">
                    <div style="float:right; width:1px; height:1.5em;"></div>
					<input type="checkbox" class="commentator_checkbox" id="book_workContainer_commentator" checked="checked"/>
					@*<label for="book_workContainer_commentator" class="userblock">
						<a href="#" class="userblock_avatar_link">
							<img class="userblock_avatar">
						</a>
						<a href="#" class="userblock_name"></a>
					</label>*@
                    <div class="userblock">
                        <a href="#" class="userblock_avatar_link">
						    <img class="userblock_avatar">
					    </a>
					    <a href="#" class="userblock_name"></a>
                    </div>
                    <div style="clear:both;"></div>
				</li>
			</ul>
		</div>
	</div>
    <div class="avatarsLine"></div>
</div>
   
