@{
    Layout = null;
}
@if (ViewBag.TotalPages > 1)
{
    <div class="pager">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i != ViewBag.CurrentPage)
        {
            Uri baseUrl = ViewBag.BaseUrl;
            <a href="@baseUrl.SetParameter("page", i.ToString())" class="pageNumber">@i</a>
        }
        else
        {
            <span class="pageNumber current">@i</span>
        }
    }
    </div>
}