@{
    Layout = null;
}
<ul class="commentator_list" id="interlocutorList">
    @Html.Action("FriendsPage", "User", new { Id = ViewBag.UserId , Page = 1})
</ul>
<div id="MoreFriendsButton" href="@Url.Action("FriendsPage", "User", new { Id = ViewBag.UserId })" page="1">@SideNotes.Resources.Misc.FriendsListShortMore</div>
<script type="text/javascript">
    $(function () {
        function getFriendsPageSuccess(data) {
            var elements = $(data).appendTo('#interlocutorList');
            if (!(elements.length > 0)) {
                $('#MoreFriendsButton').hide();
            }
        }
        $('#MoreFriendsButton').click(function () {
            downloadPage(this, getFriendsPageSuccess);
        });
    });
</script>