@model User
@{
    ViewBag.Title = SideNotes.Resources.User.SetAvatarTitle;
}
<div id="main">
<h2>@SideNotes.Resources.User.SetAvatarHeading</h2>

@using (Html.BeginForm("SetAvatar", "User", FormMethod.Post, new { enctype = "multipart/form-data", id="file_upload" }))
{
    @Html.Hidden("id", Model.Id)
    <input type="file" name="file" />
    <button type="submit">@SideNotes.Resources.User.SetAvatarUploadButtonText</button>
}
</div>