@{
    ViewBag.Title = SideNotes.Resources.ToAuthors.Title;
}
<div id="main">
    <h2 class="appeal">@SideNotes.Resources.ToAuthors.Hello</h2>

    <p class="appeal">@SideNotes.Resources.ToAuthors.IfYouWroteABookMessage</p>
    <p class="appeal">@SideNotes.Resources.ToAuthors.WeAcceptAllGenresMessage</p>
    <p class="appeal">@SideNotes.Resources.ToAuthors.IfYouWantToPublishMessage <a href="mailto:aleandr2003@gmail.com">aleandr2003@gmail.com</a></p>
</div>