@{
    ViewBag.Title = "Писателям";
}
<div id="main">
<h2 class="appeal">Здравствуйте!</h2>

<p class="appeal">Если вы написали книгу или статью, хотите быстро привлечь целевую аудиторию и подробно обсудить с читателями свои идеи, то сервис <b class="sidenotesTitle">Sidenotes</b> именно для вас.</p>
<p class="appeal">Мы, администраторы сервиса <b class="sidenotesTitle">Sidenotes</b>, будем рады сотрудничать с авторами текстов любых жанров.</p>
<p class="appeal">Если вы решили опубликовать свой текст на <b class="sidenotesTitle">Sidenotes</b>, напишите нам по адресу <a href="mailto:aleandr2003@gmail.com">aleandr2003@gmail.com</a></p>
</div>