@model User
@{
    ViewBag.Title = "Завершение регистрации";
}
<div id="main">
<h2>@Model.Name</h2>
<div class="profileAvatarContainer">@UserAvatar.Large(Model, "user_avatar")</div>
<h1>@Html.ActionLink("ЗАВЕРШИТЬ РЕГИСТРАЦИЮ", "CompleteExternalRegistration", "User", null,
     new { id = "CompleteRegistrationLink", @class = "showLightBox_link", rel = "completeRegistrationBox" })
</h1>
@Html.Partial("CompleteRegistrationBox", new EditProfileModel { Name = Model.Name, Email = Model.Email })

<script type="text/javascript">
    $(function () {
        $('#CompleteRegistrationLink').click();
    });
</script>
</div>