@model User
@{
    ViewBag.Title = "Новый аватар";
}
<div id="main">
<h2>Новый аватар</h2>

@using (Html.BeginForm("SetAvatar", "User", FormMethod.Post, new { enctype = "multipart/form-data", id="file_upload" }))
{
    @Html.Hidden("id", Model.Id)
    <input type="file" name="file" />
    <button type="submit">Загрузить</button>
}
</div>