/* 
    Document   : default
    Created on : 14.01.2012, 15:12:18
    Author     : Дмитрий
    Description:
        Purpose of the stylesheet follows.
*/

p {
	margin-bottom: 1em
}
h1 {
	font-size: 1.8em;
	margin: 0 0 1em;
}h2 {
	font-size: 1.3em;
	margin: 0 0 1em;
}
a {
	color: #052d6e;
}

