/* 
    Document   : markup
    Created on : 14.01.2012, 15:13:51
    Author     : Дмитрий
    Description:
        Purpose of the stylesheet follows.
*/

body {
	display: block;
	overflow: auto;
	font-family: Arial;
	text-align: center;
	font-size: 15px;
	color: #7B7B7B;
}
#main_outer {
	display: block;
	overflow: visible;
	width: 100%;
}
#header {
	display: block;
	overflow: hidden;
	width: 100%;
	background: #000;
	z-index:100600;
}
#header_inner {
	font-size: 1.2em;
	font-family: HeliosLight, Arial;
	font-weight: bold;
	color: #fff;
	display: block;
	overflow: hidden;
	width: 54.5em;
	padding: 0 1em;
	margin: 0 auto;
}

.floatDummy
{
    font-size:1px;
    line-height:1px;
}

#book_container .floatDummy
{
    float:left;
}

#header_userinfo {
	display: block;
	float: right;
	/*max-width: 25%;*/
	line-height: 1em;
	padding: 0.65em 0 0;
}
#header_userinfo .userblock_login {
	color: #ff4300;
}
#header_userinfo .loginblock_loginlink,
#header_userinfo .loginblock_registerlink
{
    color:#fff;
    text-decoration:none;
}

#siteNavigator {
	display: block;
	overflow: hidden;
	float: left;
	margin-left: -1em;
	/*width: 80%;*/
	text-align: left;
}
.siteNavigator_item {
	display: block;
	overflow: hidden;
	float: left;
	/*width: 20%;*/
	line-height: 1em;
}
.siteNavigator_item_link {
	display: inline-block;
	padding: 0.65em 1em 0.3em;
	color: #fff;
	text-decoration: none;
}
.siteNavigator_item_current {
	background: #fff;
}
.siteNavigator_item_current .siteNavigator_item_link {
	color: #7B7B7B;
}
.siteNavigator_item_impotrant .siteNavigator_item_link {
	color: #ff4300;
}

.userblock {
	/*display: inline-block;*/
	overflow: visible;
}
.userblock_avatar {
	display: block;
	float: left;
	margin: 0 5px 0 0;
}
.userblock_newsCount {
	display: block;
	overflow: hidden;
	float: right;
	margin: -0.15em 0 -0.15em 1em;
	padding: 0.15em;
	color: #fff;
	background: #ff4300;
	border-radius: 0.65em;
	-moz-border-radius: 0.65em;
	-o-border-radius: 0.65em;
	-webkit-border-radius: 0.65em;
	line-height: 1em;
	text-align: center;
	min-width: 1em;
	font-family: Arial;
}
.userblock_avatar_link,
.userblock_login,
.userblock_newsCount {
	text-decoration: none;
}

.bestComment_container,
#recentCommentsList_container,
#commentatorsList_container
{
    background-color: #E5E5E5;
    padding: 1em 1em 1em 1.25em;
    margin: 0 0 4em;
}

#commentatorsList {
	display: block;
	font-size: 1em;
}

#commentatorsList .userblock_name {
	font-size: 1.2em;
	line-height: 1.75em;
}
#commentatorsList .commentCounter {
	font-size: 0.8em;
}
#commentatorsList .commentator_item {
	padding: 0 0 1.25em;
}

#recentCommentsList {
	display: block;
	font-size: 1em;
}

#recentCommentsList .userblock_name {
	font-size: 1.2em;
	line-height: 1.75em;
}

#recentCommentsList .comment_item {
	padding: 0 0 1.25em;
}
.bestComment_container
{
    overflow:visible;
}
.bookCatalog .bestComment_container
{
    width:17em;
}

.bestComment_container .paragraph_content
{
    margin-top:0;
    float:left;
}
.bestComment_container .userblock_name
{
    margin-bottom:0.3em;
}

.bestComment_container .comment_content
{
    margin:0 0 0.7em 1.2em;
}
.bestComment_container .commentCounter
{
    margin-left:1.2em;
    overflow:visible;
    z-index:0;
    vertical-align:baseline;
    display:inline-block;
    position:relative;
    font-size:0.8em;
}

.bestComment_container .commentCounter_counter {
	background: #052D6E;
	color: #fff;
	vertical-align: top;
	line-height: 1em;
	z-index:0;
}
.bestComment_container .commentCounter_counter:after {
	background: #E5E5E5;
}
.bestComment_container .commentCounter_counter:before {
	background: #052D6E;
}

.bestComment_container .bestCommentQuote
{
    float:left;
    /*position:relative;
    left:-3em;*/
    margin-left:-3em;
}

.bestComment_container .paragraph_content,
.bestComment_container .userblock_name,
.bestComment_container .comment_content
{
    text-decoration:none;
    font-style:italic;
    display:block;
}
.bestComment_container .paragraph_content,
.bestComment_container .comment_content
{
    color:#666;
}

.bestComment_container .comment_content
{
    font-weight:bold;
}

.bestComment_container .book_avatar_link
{
    float:left;
}
.bestComment_container .book_avatar
{
    height:3em;
}

.bestComment_container .bestComment_bookTitle
{
    display:block;
    color:#7B7B7B;
    text-decoration:none;
    font-weight:bold;
    margin: 0.3em 0;
}
.bestComment_container .bestComment_bookAuthor
{
    display:block;
    color:#7B7B7B;
    text-decoration:none;
    font-style:italic;
    font-size:0.8em;
}

.bestComment_container .bookCaption
{
    float:left;
    margin-left: 0.5em;
    width:15em;
}
.bookReference
{
    display:block;
    padding:0.5em 0;
    clear:both;
    width:20em;
}

.bestComment_container .separator
{
    /*font-size: 1px;
    line-height: 1px;*/
    margin-top: 1em;
    clear:both;
}

#main {
	width: 65.3em;
	padding: 1.2em 1em 1em;
	margin: 0 auto;
	text-align: left;
}

#book_header {
	display: block;
	/*overflow: hidden;*/
	width: 100%;
	float: left;
	clear: both;
	padding: 0 0 2.25em;
}
.commentThread #book_header {
	border-bottom: 1px solid #7B7B7B;
	margin-bottom: 1em;
}
.commentList #book_header {
	border-bottom: 1px solid #7B7B7B;
}
.readBook #book_header {
	padding-bottom: 1em;
	border-bottom: 1px solid #7B7B7B;
}

#book_info {
	display: block;
	overflow: hidden;
	float: left;
	width: 48%;
	padding: 0 2% 0 0;
}
.book_cover {
	float: left;
	margin: 0 1em 0 0;
}
.header_book_cover
{
    float: left;
	margin: 0 1em 0 0;
	height: 100px;
}
.book_buyLink_container {
	display: block;
	overflow: hidden;
	float: left;
	width: 9em;
	text-align: center;
}
.book_buyLink {
	text-decoration: none;
	display: block;
	line-height: 1.5em;
    color: #fff;
	background: #ff4300;
	padding:0.2em;
	width:8em;
	font-weight:bold;
	margin:0.4em 0 0.4em;
	text-align:center;
}
.book_buyLink_description {
	color: #fff;
	background: #ff4300;
}
.book_buyLink_price {
	font-weight: bold;
}
#book_header .book_name {
	margin: 0.5em 0 0;
	line-height: 1.5em;
	font-weight: bold;
}
#book_header .book_name_thin
{
    margin: 0.5em 0 0;
	line-height: 1.2em;
}

#book_header .book_name a
{
    text-decoration:none;
    color:#7B7B7B;
}

.commentCounter {
	display: block;
	overflow: visible;
}
.commentCounter_counter {
	display: inline-block;
	overflow: hidden;
	border-radius: 0.2em;
	color: #fff;
	background: #7B7B7B;
	line-height: 1em;
	padding: 0.25em 0.5em;
	text-decoration: none;
	font-weight: bold;
}
.commentCounter_counter:before {
	display: block;
	content: "";
	background: red;
	width: 0.9em;
	height: 0.8em;
	position: absolute;
	line-height: 0.9em;
	z-index: -2;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	margin: 0.75em 0 0 -0.5em;
	background: #7B7B7B;
}
.commentCounter_counter:after {
	display: block;
	content: "";
	background: red;
	width: 0.7em;
	height: 0.8em;
	position: absolute;
	line-height: 1em;
	margin: 0 0 0 -0.7em;
	background: green;
	z-index: -1;
	background: #fff;
}
.commentCounter_description {
	display: inline-block;
	position: absolute;
	margin: 3.5em 0 0 2.75em;
	color:#7B7B7B;
}
#commentCounter_container a
{
    color:#7B7B7B;
    text-decoration:none;
    cursor:pointer;
}

#commentCounter_container {
	display: block;
	overflow: hidden;
	float: left;
	/*width: 19.5em;*/
	width: 13em;
}
#book_workContainer {
	display: block;
	overflow: hidden;
	width: 13.125em;
	float:right;
}
#commentCounter_container .commentCounter_counter {
	font-size: 2.25em;
	font-weight: bold;
}
#book_header .book_name {
	display: block;
	overflow: hidden;
}


.commentator_container {
	display: block;
	overflow: hidden;
	float: right;
	width: 13em;
	margin: 2.5em 0 0;
	border: 1px solid #fff;
	background: #fff;
	position: absolute;
}
.commentator_container.showDropbox {
	border: 1px solid #7B7B7B;
}
.commentator_dropbox {
	background: #fff;
	display: none;
	width: 13em;
	margin-left: -1px;
	position:relative;
	z-index: 100500;
}

.commentator_container .avatarsLine
{
    padding-left:1em;
}

.showDropbox .commentator_dropbox {
	display: block;
}
.showDropbox .avatarsLine
{
    display:none;
}

.commentator_container .userIcon
{
    margin-left:0.2em;
}

.commentator_labelContainer {
	display: block;
	overflow: hidden;
}
.commentator_label {
	text-decoration: none;
	color: #666;
	display: block;
	overflow: hidden;
	height: 2.5em;
	text-align: right;
	line-height: 1.75em;
	padding-right: 2em;
	background: url(../img/commentator_label.gif) 11.55em 0.65em no-repeat;
}
.commentator_counter {
	font-weight: bold;
	color: #ff4300;
}
.commentator_types_list {
	display: block;
	overflow: hidden;
	padding: 0 0 0.5em;
}
.commentator_type {
	display: block;
	float: left;
	padding: 0.35em 0.65em;
}
.commentator_type_current {
	background: #7B7B7B;
}
.commentator_type_link {
	display: inline-block;
	text-decoration: none;
	color: #7B7B7B;
}
.commentator_type_current .commentator_type_link {
	color: #fff;
}


.commentator_list {
	display: none;
	overflow: hidden;
}
.commentator_list:first-child {
	display: block;
}
.commentator_checkbox {
	vertical-align: bottom;
	float:left;
}
.commentator_item {
	padding: 0.25em 0.35em;
	/*background: #fff;*/
}
.commentator_item_active, .commentator_item:hover {
	background: #e5e5e5;
}

.commentator_list .userblock_name {
	text-decoration: none;
}
.userList .userblock_name
{
	text-decoration: none;
}
.userList .userblock_name
{
    font-size: 1.2em;
	padding-left: 0.5em;
}
.userListItem
{
    margin-bottom:1em;
}

.recentComments_list {
	display: none;
	overflow: hidden;
}
.recentComments_list:first-child {
	display: block;
}

.recentComments_list .userblock_name {
	text-decoration: none;
}
.recentComments_list .comment_date
{
    float:right;
    color:#B2B2B2;
}

.recentComments_list .comment_content
{
    text-decoration:none;
    color:#666;
    display:block;
}

#commentList_container {
	display: block;
	overflow: hidden;
	width: 100%;
}
.commentList .commentCounter_container,
.commentList .feedBlockLeft,
.commentList .commentAdd_container {
	display: block;
	overflow: hidden;
	padding: 0.5em 0 0;
	float: left;
}

.commentList .comment_container
{
    display: block;
	overflow: hidden;
	padding: 0.5em 0 0;
}

.commentList .bookBlock .commentCounter {
	/*float: left;*/
	margin: 1em 0 0 0.5em;
	position:absolute;
}
.commentList .bookBlock .commentAdd_container 
{
    float:right;
    margin-right:5em;
    display:none;
}
.commentList .bookBlock:hover .commentAdd_container 
{
    display:block;
}
.extraComments
{
    width:100%; 
    background-color:#ddd; 
    color:#7B7B7B; 
    text-align:center;
    padding:0.5em 0;
}
.extraComments a
{
    color:#7B7B7B; 
    text-decoration:none;
}

.commentList .reply
{
    float:left;
    font-size:0.8em;
    margin-right:1em;
}
.feedBlockRight
{
    width:27em;
    float:left;
}
#commentList_container .bookBlock .commentCounter_counter:before {
	background: #ff4300;
}
#commentList_container .bookBlock .commentCounter_counter:after {
	background: #fff;
}
#commentList_container .bookBlock:hover .commentCounter_counter:after {
	background: #FFEDE6;
}
.commentList .bookBlock .commentCounter_counter {
	background: #ff4300;
}
.commentList .bookBlock_inner, 
.commentList .comment_container {
	width: 26em;
	padding-right: 1em;
}
.commentList .bookBlock_inner {
	padding-left: 4.5em;
}

.commentList .bookBlock {
	padding: 0.5em 0;
	display: block;
	overflow: hidden;
	clear: both;
	z-index: -2;
}
.commentList .bookBlock:hover {
	background: #ffede6;
}
.commentList .comment_container {
	font-weight: bold;
	font-style: italic;
	padding-left: 1.5em;
	margin-left: -1.5em;
	margin-bottom:1em;
}

.bookBlock .commentAdd_container .commentCounter {
	font-size: 2em;
	font-weight: bold;
}
.bookBlock .commentCounter {
	float:left;
	margin-right: 0.5em;
}
#book_container .bookBlock .commentCounter {
	margin-bottom: 1em;
}
.bookBlock:hover .commentCounter {
	display: block;
}

#profileHeader_container {
	display: block;
	overflow: hidden;
	float: left;
	width: 19.5em;
	padding: 1.5em 0 0;
}
#profileHeader_container .userblock_name {
	font-size: 1.2em;
	font-weight: bold;
}
.userblock .commentCounter_counter {
	font-weight: normal;
	float: left;
	margin-right: 0.5em;
	margin-top: 0.5em;
}
.userblock .commentCounter_description {
	position: static;
	margin: 0.65em 0 0;
}

.comment_container .userblock {
	font-weight: normal;
	font-style: normal;
	font-size: 0.8em;
	margin: 0 0 1em -1.5em;
}
.comment_container .userblock a
{
    text-decoration:none;
}

.comment_container .commentDateCreated {
	font-weight: normal;
	font-style: normal;
	font-size: 0.8em;
	float:right;
}
.toTextButtonLink
{
    text-decoration: none;
    display: block;
    color: #fff;
	background: #ff4300;
	padding:0.3em;
	width:14em;
	margin:0.4em 0;
	text-align:center;
}
#commentList_container .bookBlock .toTextButtonLink
{
    visibility:hidden;
    margin-left: 4.5em;
}
#commentList_container .bookBlock:hover .toTextButtonLink
{
    visibility:visible;
    margin-left: 4.5em;
}
#sortSelect_list {
	float: right;
	margin-top: -1.7em;
	/*clear: both;*/
}
.sortSelect_item {
	float: right;
	padding: 0 1em 0 0;
	border-bottom: 0.08em solid #7B7B7B;
	border-top: 0.08em solid #fff;
	font-size: 0.8em;
	background: #fff;
}
.sortSelect_link {
    /*float: right;*/
    display: block;
	padding: 0.5em 1em;
	color: #7B7B7B;
	text-decoration: none;
}
#contenttable_link {
	display: block;
	overflow: hidden;
	font-size: 0.8em;
	text-decoration: none;
	color: #7B7B7B;
	margin-top: -2em;
	clear: both;
	float: left;
	padding: 0.5em 0;
}
.sortSelect_item_current {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #7B7B7B;
	border-left: 1px solid #7B7B7B;
	border-right: 1px solid #7B7B7B;
}

.readFromThisPlace_link {
	display: inline-block;
	overflow: hidden;
	font-style: normal;
	color: #fff;
	background: #ff4300;
	padding: 0.15em 0.75em 0.25em;
	text-decoration: none;
	text-transform: lowercase;
}
#commentList_container .readFromThisPlace_link {
	display: none;
}
#commentList_container .bookBlock:hover .readFromThisPlace_link {
	display: inline-block;
}

#bookNavigator {
	position: absolute;
	width: 65.3em;
}
#bookNavigator_container {
	display: block;
	clear: both;
	width: 65.3em;
	overflow: hidden;
	height: 1.6em;
}
.bookNavigator_point, #bookNavigator_position {
	position: absolute;
	font-size: 1.25em;
	text-decoration: none;
	line-height: 0.8em;
}
.bookNavigator_point {
	color: #7B7B7B;
}
.bookNavigator_point_before {
	color: #ff4300;
}
#bookNavigator_position {
    display: block;
    font-size: 2em;
    height: 2em;
    line-height: 0.35em;
    width: 0;
	text-indent: -0.2em
}
.bookNavigator_point, #bookNavigator_before, #bookNavigator_after {
	display: block;
	overflow: hidden;
}
#bookNavigator_before, #bookNavigator_after {
	display: block;
	float: left;
}
#bookNavigator_before .bookNavigator_line,
#bookNavigator_after .bookNavigator_line {
	border-top: 1px solid #ff4300;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
#bookNavigator_after .bookNavigator_line {
	border-top: 1px solid #7B7B7B;
}
#book_container .bookBlock {
	clear: both;
	display: block;
	overflow: hidden;
	margin:-0.3em 0 -0.3em;
}

#book_container .bookBlock_highlight
{
    clear: both;
    display: block;
	overflow: hidden;
	margin: 0 0 0 6em;
	padding: 0.3em 0.4em 0.3em 0.2em;
}

#book_container .bookBlock:hover .bookBlock_highlight{
	background: #ffede6;
}
#book_container .bookBlock_inner {
	width: 47em;
	float: left;
	padding: 0.4em 0 0.4em;
	/*margin: 0 3em 0 6em;*/
}

.commentBoxBottomLine
{
    width: 500px;
}

#addHeadCommentBoxForm .submitButton
{
    float:right;
}

#addHeadCommentBoxForm #SNLoginBox,
.addHeadCommentForm .SNLoginBox
{
    float:right;
}

#addHeadCommentBoxForm #SNLoginBox label,
.addHeadCommentForm .SNLoginBox label
{
    float:left;
    width:11em;
}

.navigationButton {
    display: none;
    width: 47em;
    text-align: center;
    background-color: #052D6E;
    margin: 0.3em 3.4em 0.3em 6.2em;
    padding: 0.3em 0 0.3em;
    color:#fff;
    font-weight:bold;
}

.navigationButtonPressed
{
    text-align:left;
    background-color:#DDD !important;
    color:#DDD !important;
    background-image: url(/Content/img/spinner_small.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.navigationMenu 
{
    margin: 0.3em 3.4em 0.3em 6.2em;
}

.navigationMenu a
{
    color:#AAA;
    font-size:x-small;
    text-decoration:none;
}

.commentInfo_container {
	/*width: 8em;*/
	display: block;
	overflow: hidden;
}
.commentInfo_container .userblock_name
{
    font-size:0.8em;
}


.bookBlock_highlight:hover,
.bookBlock:hover {
	z-index: -2;
}

.bookBlock:hover .commentCounter_counter {
	z-index: 9;
}
.bookBlock:hover .commentCounter 
{
    z-index: 10;
}
.bookBlock .commentCounter_counter:before {
	z-index: -2;
}
.bookBlock .commentCounter_counter:after {
	z-index: -1;
	background: #fff;
}

.bookBlock .commentCounter_counter:after {
	z-index: -1;
	background: #fff;
}

#book_container .bookBlock .commentAdd_container
{
    display:none;
    position:absolute;
}

#book_container .bookBlock:hover .commentAdd_container
{
    display:block;
}
#book_container .commentCounter_counter,
#book_container .bookBlock .commentCounter_counter:before {
	background: #052D6E;
}
#book_container .commentAdd_container .commentCounter_counter,
#book_container .bookBlock .commentAdd_container .commentCounter_counter:before {
	background: #ff4300;
}

#book_container .bookBlock:hover .commentCounter_counter:after {
	background: #ffede6;
}
#book_container .bookBlock:hover .commentAdd_container .commentCounter_counter:after {
	background: #fff;
}

#book_container .bookBlock .commentCounter{
    position:absolute;
}

.commentator_dropbox .commentator_item
{
    display:block;
    width:14em;
}
.commentator_dropbox .commentator_item .userblock_avatar_link
{
    display:block;
    float:left;
}
.commentator_dropbox .commentator_item .userblock_name
{
    display:block;
    float:left;
    width:9em;
}
.commentInfo_container .userblock_avatar_link 
{
	margin:0.5em 0 0.3em 3em;
	display:block;
}
#book_container .userblock .userblock_name {
	text-decoration:none;
}

#book_container .bookBlock_inner p
{
    margin-bottom:0;
}
#addHeadCommentBox
{
    position:absolute;
}
#addHeadCommentBox .bookBlock
{
    width: 32em;
    padding-right:1em;
}

#leftCol, #centerCol, #rightCol {
	display: block;
	width: 10em;
	padding: 3em 1.4em 0 2em;
	float: left;
}
#leftCol {
	margin-left: -2em;
	overflow: hidden;
}
#centerCol {
	width: 30em;
	padding: 1.5em 2em 0 0;
	overflow: hidden;
}
#rightCol {
	padding: 1.75em 0 0;
	width: 21em;
	overflow: visible;
}
.book_contenttable #leftCol
{
    padding-top: 1.5em;
}
.profile #leftCol
{
    padding-top: 2em;
}
.bookCatalog #leftCol
{
    width:auto;
    padding: 1.5em 1em 0 2em;
}
.bookCatalog #centerCol
{
    width: 34em;
}
.bookCatalog #rightCol
{
    padding-top:1.5em;
    width: 19em;
}
.book_contenttable .chapterTreeSection
{
    margin-bottom:2em;
    padding-left:2em;
}
.book_contenttable .chapterTreeItem
{
    margin: 0.8em 0 0.8em;
}

.book_contenttable .chapterTreeLink
{
    color:#7B7B7B;
    text-decoration:none;
    font-size:1.2em;
}

.book_contenttable .rootChapterLink
{
    padding-left:2em;
}

#book_contents
{
    margin-left:-2em;
}

.followButton 
{
    border:none; 
	display: block;
	padding: 0.25em 0.5em 0.25em;
	color:  #fff;
	text-decoration: none;
	font-weight:bold;
}

.profile .followButton
{
    float: right;
}

.follow_off
{
    background: #7B7B7B;
}
.follow_on
{
    background: #ff4300;
}


#profile_avatar_container {
	display: block;
	overflow: hidden;
	padding: 1.4em 0;
	clear: both;
	text-align:right;
	
}
.profile_edit #profile_avatar_container  {
	padding-top: 3em;
}

.profile_avatar
{
    width:10em;
}

#contactList_container
{
    margin-bottom: 2em;
}
#settingsList_header,
#contactList_header {
	font-family: Arial;
	font-weight: bold;
}

#contactList
{
  	display: block;
	overflow: hidden;
	padding: 0 0 0 2em;
    margin:1em 0 0 -2em;
}
.contactList_item, .contactList_item_link {
	display: block;
	overflow: hidden;
	padding: 0 0 0 2em;
	margin: 0 0 0 -2em;
}
.contactList_item {
	padding: 0.5em 0 0em 2em;
	line-height:1.1em;
}
.contactList_item_link {
	color: #7B7B7B;
	text-decoration: none;
	font-size: 0.8em;
	padding-top: 2px;
}
.contactList_item_email .contactList_item_link {
	background: url(../img/8.png) -5px -7px no-repeat;
}
.contactList_item_facebook .contactList_item_link {
	background: url(../img/logo/facebook-16.gif) 3px 0px no-repeat;
}
.contactList_item_twitter .contactList_item_link {
	background: url(../img/logo/twitter-16.gif) 3px 0px no-repeat;
}
.contactList_item_vkontakte .contactList_item_link {
	background: url(../img/logo/vkontakte-16.png) 3px 0px no-repeat;
}
.contactList_item_lj .contactList_item_link {
	background: url(../img/logo/livejournal-16.gif) 3px 0px no-repeat;
}
.contactList_item_yandex .contactList_item_link {
	background: url(../img/logo/yandex.png) 3px 0px no-repeat;
}

.contactList_item_vcard .contactList_item_link {
	background: url(../markup/sidenotes-maket_htm_files/9.png) -5px -3px no-repeat;
}

#settingsList
{
   	display: block;
	overflow: hidden;
	padding: 0 0 0 2em;
	margin: 1em 0 0 -2em;
}

.settingsList_item, .settingsList_item_link {
	display: block;
	overflow: hidden;
	padding: 0 0 0 2em;
	margin: 0 0 0 -2em;
}
.settingsList_item {
	padding: 0.5em 0 0 2em;
	line-height:1.1em;
}
.settingsList_item_link {
	color: #7B7B7B;
	text-decoration: none;
	font-size: 0.8em;
	padding-top: 2px;
}

.breadcrumbs_container {
	display: block;
	overflow: hidden;
	font-family: HeliosLight, Arial;
}
.breadcrumbs_link {
	font-weight: bold;
	text-decoration: none;
}

.book_contenttable h1
{
	font-size: 2.4em;
	margin: 0 0 0.35em;
}

.annotation_OrangeButton
{
    text-decoration: none;
    display: block;
    line-height: 1.7em;	
    color: #fff;
	background: #ff4300;
	font-size: 1.3em;
	padding:0.2em;
	font-weight:bold;
	margin:0.4em 0 0.4em;
	text-align:center;
}
.annotation_OrangeButton_Read{
    width:5em;
    float:left;
}
.annotation_OrangeButton_Comments{
    width:9em;
    float:left;
    margin-left:0.5em;
}

#book_annotation
{
    margin :0.4em 0 1em;
}

.book_author_list
{
  	font-size: 1.3em;
}
.book_author_list a
{
    color:#7B7B7B;
    text-decoration:none;
}

.profile h1 {
	font-size: 2.4em;
	color: #000;
	margin: 0 0 0.35em;
}
.profile h2 {
	margin-bottom: 0.5em;
}
#freshCommentsList, #freshCommentsList .commentList_item {
	display: block;
	overflow: hidden;
}
#freshCommentsList .commentList_item {
	padding: 0.75em 0 1.5em;
	margin: 0 0 0.5em;
	font-size: 0.8em;
	border-bottom: 1px solid #000;
}
#freshCommentsList .commentList_item:last-child {
	border-bottom: 0;
}
#freshCommentsList .book_date {
	float: left;
	width: 5.5em;
	padding: 0 1em 0.75em 0;
}
#freshCommentsList .book_author_list {
	display: block;
	overflow: hidden;
	padding: 0 1em 0.75em 0;
}
#freshCommentsList .book_cover {
	clear: both;
	float: left;
}
#freshCommentsList .book_name {
}
.profile .comment {
	font-size: 1.25em;
	display: block;
	overflow: hidden;
	font-style: italic;
	font-weight: bold;
	color: #000;
	padding: 1em 0 1em 1em;
	line-height: 1.5em;
}
.profile .comment a
{
    text-decoration:none;
    color:#000;
}
.navigationButtonSmall
{
    width:100%;
    text-align:center;
    padding:0.5em;
    font-weight:bold;
    background:#052D6E;
    color:#fff;
    font-family: HeliosLight, Arial;
    text-decoration:none;
    cursor:pointer;
}

#navigateDownButton
{
    display:none;
}
#freshCommentsList .commentCounter_container {
/*	padding: 0 0 0 6.5em;*/
	display: block;
	float: none;
}
.RecentCommentsContainer
{
    margin-bottom: 2em;
}
#bestComment {
	font-size: 0.8em;
	display: block;
	overflow: hidden;
	padding: 1em 1.5em 1em;
	background: #e5e5e5;
	margin: 0 0 1em;
}
#bestComment .bookBlock {
	font-style: italic;
}
#bestComment h3 {
	padding-bottom: 1em;
}

#fullScreemMode_on_link, #fullScreemMode_off_link {
	display: block;
	overflow: hidden;
	width: 34px;
	height: 34px;
	text-indent: -9000px;
	background: url(../markup/sidenotes-maket_htm_files/113.png) center center no-repeat;
	margin-bottom: -1.5em;
	float: right;
}

.fullscreen #header {
	display: none;
}
.fullscreen #book_header {
	display: none;
}
.fullscreen #fullScreemMode_on_link {
	display: none;
}
#fullScreemMode_off_link {
	display: none;
}
.fullscreen #fullScreemMode_off_link {
	display: block;
	background: url(../markup/sidenotes-maket_htm_files/129.png) center center no-repeat;
	position: absolute;
	left: 50%;
	margin: -2.15em 0 0 32.65em;
}
#book_contents .commentCounter_counter {
	background: #FF4300;
	color: #fff;
	vertical-align: top;
	line-height: 1em;
}
#book_contents .commentCounter_counter:after {
	background: #fff;
}
#book_contents .commentCounter_counter:before {
	background: #FF4300;
}

#bestComment .commentCounter {
	display: inline-block;
	position: relative;
	z-index: 0;
	line-height: 1.5em;
}
#bestComment .commentCounter_counter {
	background: #fff;
	color: #000;
	vertical-align: top;
	line-height: 1em;
}
#bestComment .commentCounter_counter:after {
	background: #e5e5e5;
}
#bestComment .commentCounter_counter:before {
	background: #fff;
}
#bestComment .book_name {
	display: inline;
}

#interlocutorList_container {
	padding: 0 0 1em 1.25em;
}
#interlocutorList {
	display: block;
	font-size: 1em;
}
#interlocutorList .commentator_item:hover {
	background: #fff;
}

#interlocutorList .userblock_name {
	font-size: 1.2em;
	line-height: 1.75em;
	padding-left: 0.5em;
}
#interlocutorList .commentCounter {
	font-size: 0.8em;
	padding-left: 0.5em;
}
#interlocutorList .commentator_item {
	padding: 0 0 1.25em;
}
#MoreFriendsButton
{
    cursor:pointer;
}
.book, .book_name {
	display: block;
	overflow: hidden;
}

#nowReadList {
	display: block;
	overflow: hidden;
	padding:  0 0 1em;
	clear: both;
	width: 33em;
}
.nowReadList_item {
	float: left;
	padding: 0 1em 0 0;
	margin-bottom:1em;
}
.nowReadList_item:last-child {
	padding-right: 0;
}
#nowReadList .book_cover {
	margin:  0;
}
#nowReadList_container {
	display: block;
	overflow: visible;
	clear: both;
}

.adduser, .reply, .edit {
	/*display: inline-block;
	position: absolute;*/
	color: #fff;
	background: #7B7B7B;
	padding:0.3em 0.8em;
	font-weight: bold;
	text-decoration: none;
}

.delete
{
    border:none;
    color: #fff;
	background: #7B7B7B;
	font-weight: bold;
}
/*.edit
{
    font-size:0.8em;
}*/
#EditProfileLink
{
    margin-left: -0.5em;
}
#setAvatarLink
{
    display:inline-block;
}

#profile_name .edit 
{
	font-size: 0.4em;

}
#profile_name .editButton
{
 	margin: 0 0 0 -2.1em;
	position:absolute;
	display:inline-block;
} 

#profile_avatar_container .edit {
	top: -1.8em;
	position:relative;
}

.profile_edit .editLabel {
	background-color:#e5e5e5;
	padding:0.3em 1em;
	font-size:0.8em;
}
#contactList_header .edit
{
    font-size:0.8em;
}

.threadLink
{
    text-decoration:none;
    margin-left: 1em;
}
.commentList .threadLink
{
    font-size:0.8em;
}

#freshCommentsList .commentList_item .reply {
	position: static;
	clear: both;
	display: inline-block;
	margin-left: 6.5em;
	font-size:1em;
}
#freshCommentsList .commentList_item .threadLink
{
    font-size:1em;
    display:inline-block;
    float:left;
    padding:0.3em 0; margin-left:0;
}

#freshCommentsList .commentList_item  .commentCounter_container
{
    margin-bottom:0.8em;
}

.readBook .commentBlock,
.commentList .commentBlock
{
    margin-bottom: 1em;
}

#bestComment .edit {
	display: block;
	overflow: hidden;
	float: left;
	position: static;
	clear: both;
	margin: 2em 0 -1em -1.5em;
}
#interlocutorList_container h2 .adduser {
	font-size: 0.75em;
	margin-left: 1em;
}

.jQueryToolTip
{
    background:#fff;
    border: 1px solid #7B7B7B;
    padding:0.3em;
}

.bookTitleToolTip
{
    font-weight:bold;
    font-size:x-large;
    color:#7B7B7B;
    line-height:1.3em;
}
.bookTitleToolTip a
{
    color:#7B7B7B;
    text-decoration:none;
}

.bookAuthorToolTip
{
    font-size:large;
    color:#7B7B7B;
    line-height:1.3em;
}

.bookAuthorToolTip a
{
    color:#7B7B7B;
    text-decoration:none;
}

.pager
{
    padding:1.5em 0;
}

.pager a
{
    text-decoration:none;
}

.pager .pageNumber
{
    background:#7B7B7B;
    color:#fff;
    font-weight:bold;
    padding:0.2em 0.5em;
}
.pager .pageNumber.current
{
    background:#fff;
    color:#7B7B7B;
    font-weight:bold;
    padding:0.1em 0.4em;
    border:0.2em solid #7B7B7B;
}

.commentContainer .reply
{
    font-size:0.8em;
    float:left;
    margin-right: 1em;
    margin-left: 4em;
}



.commentThread .bookBlock
{
    width: 50em;
}
.readBook .delete,
.commentList .delete
{
    margin-top:-0.5em;
    background-color:transparent;
    color:#7B7B7B;
    font-size:1.5em;
    display:none;
    cursor:pointer;
}
.readBook .comment_container:hover .delete,
.commentList .comment_container:hover .delete
{
    display:block;
}
.deleteButton_container
{
    text-align:right;
    float:right;
}

.commentContainer .delete
{
    margin-top:-0.05em;
}

.commentsByUserList .toTextButtonLink
{
    margin-left: 3.5em;
    visibility:hidden;
}

.commentsByUserList .commentContainer:hover .toTextButtonLink
{
    visibility:visible;
} 

.shareBlock
{
    display:inline-block;
    margin-bottom:-1em;
    vertical-align:top;
    float:left;
}
.shareBlockLayout
{
    margin-left:1em;
    margin-top: 1em;
}

.shareBlockLabel
{
    display:inline-block;
    vertical-align:top;
    padding-top:0.2em;
    margin-right:0.5em;
    float:left;
}

.shareBlockLine
{
    padding:0.5em 0;
    margin-bottom:0.5em;
}
.shareButtonContainer
{
    float:left;
    margin-right:0.5em;
}

.facebook-share-button
{
    background-color: #ECEEF5;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	-o-border-radius: 3px;
    padding: 2px 3px;
    border: 1px solid #CAD4E7;
    zoom: 1;
    cursor: pointer;
    text-decoration: none;
    border-collapse: collapse;
    font-size:11px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    margin: 0 0.4em;
    vertical-align:top;
}

.facebook-share-button:hover
{
    border-color: #abb3bd;
}
.facebook-share-button span
{
    color: #3B5998;
    margin-left: -1px;
    background: url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) -1px -47px no-repeat;
    padding-left: 17px;
    white-space: nowrap;
    display: block;
    line-height: 14px;
    cursor: pointer;
}

.vkontakte-share-button
{
    display: inline-block;
}

.lj-share-button
{
    background: url(../img/lj-gradient.gif) repeat-x;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	-o-border-radius: 3px;
    padding: 2px 3px;
    border: 1px solid #CAD4E7;
    cursor: pointer;
    text-decoration: none;
    border-collapse: collapse;
    font-size:11px;
    font-family: arial,sans-serif;
    margin: 0 0.4em;
    vertical-align:top;
}

.lj-share-button span
{
    color: #3B5998;
    margin-left: -1px;
    background: url(../img/logo/lj-logo-tiny.gif) -1px no-repeat;
    padding-left: 17px;
    white-space: nowrap;
    display: block;
    line-height: 14px;
    cursor: pointer;
}

.addCategoryForm
{
    border: 1px solid #7B7B7B;
    margin: 1em 0;
    padding:1em;
    width:25em;
}
.addCategoryForm input
{
    margin-bottom: 0.5em;
}

.categoryList
{
    padding-left:1em;
}

.categoryList li
{
    margin-top:0.5em;
    clear:both;
}

#catalogCategoryTree
{
    width:9em;
    padding-bottom:0.5em;
}
#catalogCategoryTree ul
{
    padding-left:1em;
}

#catalogCategoryTree li
{
    padding-top:0.5em;
}

.deleteCategoryForm
{
    float:left;
}

.deleteCategoryForm input
{
    float:left;
}

.categoryName
{
    float:left;
    margin-right: 1em;
    text-decoration:none;
    color:#7B7B7B;
}
.categoryLink
{
    text-decoration:none;
    color:#7B7B7B;
}
.selectedCategoryItem
{
    background-color:#7B7B7B;
    color:#fff;
    font-weight:bold;
    padding:0.3em;
}

.admin_bookname_link
{
    width: 15em;
}

.bookListCellItem
{
    padding-right:1em;
    padding-bottom:1em;
}

.paragraphBlock
{
    width:17em;
}

.addHeadCommentForm .newCommentTextArea
{
    height: 1.2em;
    width: 100%;
}
.addHeadCommentForm .newCommentTextAreaWide
{
    height: 5em;
    width: 100%;
}


.addHeadCommentForm .submitButton 
{
    float:right;
    margin-bottom: 0;
    border: none;
    padding: 0.5em;
    background: #052D6E;
    font-weight: bold;
    color: white;
    width: auto;
}

.addHeadCommentForm .commentBoxBottomLine
{
    width:100%;
}

.commentsModule
{
    width: 47em;
    margin-left:7em;
}
.commentsModule .list
{
    /*position:relative;
    top:1em;*/
    float:left;
    width:27em;
    margin-top:2em;
}
.hideCommentListButton
{
    padding:0.4em 0;
    cursor:pointer;
}

.prevCommentsButton
{
    float:left;
    /*position:relative;
    left:-12em;*/
    width:100px;
    margin-right:2em;
}

.nextCommentsButton
{
    float:left;
    /*position:relative;
    left:30em;*/
    width:100px;
    margin-left:2em;
    margin-top:-2em;
    /*top:-8em;*/
}

.nextCommentsButton .nextCommentsLink,
.prevCommentsButton .prevCommentsLink
{
    text-decoration:none;
    font-size:small;
    color:#7B7B7B;
    visibility:hidden;
}
.nextCommentsButton:hover .nextCommentsLink,
.prevCommentsButton:hover .prevCommentsLink
{
    visibility:visible;
}

.prevCommentsArrow
{
    background-image: url(/Content/img/prevComments.png);
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    width:90px;
}

.prevCommentsArrow:hover
{
    background-image: url(/Content/img/prevCommentsHover.png);
}

.nextCommentsArrow
{
    background-image: url(/Content/img/nextComments.png);
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    width:90px;
}

.nextCommentsArrow:hover
{
    background-image: url(/Content/img/nextCommentsHover.png);
}


h2.appeal
{
    font-size:x-large;
    margin-top:1em;
}
.appeal
{
    width:30em;
    font-size:large;
    line-height:1.5em;
}
.sidenotesTitle
{
    font-weight:bold;
}

.freshCommentsItem_Controls_layout
{
    padding: 0 0 0 6.5em;
}