@model HeadComment
@{
    Layout = null;
}

<h2>@SideNotes.Resources.Comment.HeadIndexHeading</h2>

@Html.Partial("CommentTreeNode", Model)

<div style="display:none">
    @Html.Partial("AddComment")
</div>

<script type="text/javascript">
    $(function () {
        initCommentList();
    });
</script>