@{
    Layout = null;
}
<div class="filterTabs">
@{
    string allTabClass = "";
    string friendsTabClass = "";
    string famousTabClass = "";
    if (ViewBag.Filter == CommentFilter.All) { allTabClass = "selectedTab"; }
    if (ViewBag.Filter == CommentFilter.Friends) { friendsTabClass = "selectedTab"; }
    if (ViewBag.Filter == CommentFilter.Famous) { famousTabClass = "selectedTab"; }

    @Html.ActionLink(SideNotes.Resources.Comment.ParagraphCommentFilterAllCommentsLinkText, "Comments", "Book", new { paragraphId = ViewBag.EntityId, filter = (int)CommentFilter.All }, new {@class = "commentsFilterLink " + allTabClass});
    if(ViewBag.IsAuthenticated == true)
    {
        @:&nbsp|&nbsp
        @Html.ActionLink(SideNotes.Resources.Comment.ParagraphCommentFilterFriendsCommentsLinkText, "Comments", "Book", new { paragraphId = ViewBag.EntityId, filter = (int)CommentFilter.Friends }, new {@class = "commentsFilterLink " + friendsTabClass});
    }
    @:&nbsp|&nbsp
    @Html.ActionLink(SideNotes.Resources.Comment.ParagraphCommentFilterCelebsCommentsLinkText, "Comments", "Book", new { paragraphId = ViewBag.EntityId, filter = (int)CommentFilter.Famous }, new {@class = "commentsFilterLink " + famousTabClass});
}
</div>