@{
    ViewBag.Title = SideNotes.Resources.Comment.ReplyTitle;
}
<div id="main">
<h2>@SideNotes.Resources.Comment.ReplyHeading</h2>

<p>@ViewBag.ParentText</p>

@Html.Action("AddComment", "Comment", new {parentCommentId = ViewBag.ParentCommentId, headCommentId = ViewBag.HeadCommentId})
</div>