@{
    ViewBag.Title = "Ответить на комментарий";
}
<div id="main">
<h2>Ответить на комментарий</h2>

<p>@ViewBag.ParentText</p>

@Html.Action("AddComment", "Comment", new {parentCommentId = ViewBag.ParentCommentId, headCommentId = ViewBag.HeadCommentId})
</div>