@{
    Layout = null;
}

<div class="AddNewCommentFormContainer">
<h2>Ответить</h2>
@* функция initCommentList в Comments.js заменяет класс redirectable на reloadable в этой форме*@
<form method="post" action="@Url.Action("AddComment", "Comment")" class="AddNewCommentForm ajaxForm redirectable errorable">
<input type="hidden" name="parentCommentId" value="@ViewBag.ParentCommentId" class="inputParentCommentId"/>
<input type="hidden" name="headCommentId" value="@ViewBag.HeadCommentId" class="inputHeadCommentId"/>
<textarea class="newCommentTextArea" name="commentText"></textarea>
<br/>
<input type="submit" value="Сохранить" class="submitButton"/>
<div id="errorMessage" class="errorMessage"></div>
</form>
</div>