@model Book
@{
    ViewBag.Title = SideNotes.Resources.Book.AcceptDonationTitle;
}
<div id="main" class="donationPage">
    <div id="leftCol" style="width:15em;">
	    <div class="book_cover_container">
		    @BookAvatar.Large(Model, "book_cover")
	    </div>
    </div>
    <div id="centerCol" style="width:45em;">
        <h2>@SideNotes.Resources.Book.AcceptDonationHeading</h2>
        <p>@Html.Raw(Model.DonationMessage)</p>
        <p>@Html.Raw(Model.DonationForm)</p>
    </div>
</div>