@model Book
@{
    Layout = null;
}
<div class="annotationContainer">
	@(String.IsNullOrEmpty(Model.Annotation) ? SideNotes.Resources.Book.AnnotationShortNoAnnotationMessage : Model.Annotation)
</div>
