@{
    ViewBag.Title = SideNotes.Resources.Book.NotFoundTitle;
}
<div id="main">
<h2>@SideNotes.Resources.Book.NotFoundHeading</h2>

@SideNotes.Resources.Book.NotFoundReadSomethingElseMessage<br/>
@Html.ActionLink(SideNotes.Resources.Book.NotFoundToLibraryLinkText, "Index", "Book")

</div>