@model Paragraph
@{
    ViewBag.Title = "Комментировать абзац";
}
<div id="main">
<h2>Комментировать абзац</h2>

@Abzats.Render(Model)

@Html.Action("AddHead", "Comment", new {entityId = Model.Id, entityType = (int) EntityType.Paragraph})
</div>