@model Paragraph
@{
    ViewBag.Title = SideNotes.Resources.Book.CommentsTitle;
}
<div id="main">
@Abzats.Render(Model)
@Html.ActionLink(SideNotes.Resources.Book.CommentsToStartLinkText, "Start", "Book", new { id = Model.Book_Id}, null, true)

@{
    var parameters = new { 
        entityType = (int)EntityType.Paragraph, entityId = Model.Id, 
        filter = (int)ViewBag.Filter, json = false 
    };
    @Html.Action("Index", "Comment", parameters)
}

</div>