@model Paragraph
@{
    ViewBag.Title = SideNotes.Resources.Book.CommentParagraphTitle;
}
<div id="main">
<h2>@SideNotes.Resources.Book.CommentParagraphHeading</h2>

@Abzats.Render(Model)

@Html.Action("AddHead", "Comment", new {entityId = Model.Id, entityType = (int) EntityType.Paragraph})
</div>