
.lightbox_shadow
{
    display: none;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /*-ms-filter: 'alpha(opacity=0.3)';         filter: alpha(opacity=0.3);*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5+*/
    -moz-opacity: 0.3; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.3; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.3; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
    z-index:30;
}
.lightbox
{
    text-align: left;
    display: none;
    overflow: hidden;
    padding: 1em;
    position: fixed;
    z-index: 100700;
    left: 50%;
    top: 0;
    background: #fff;
    /*border-radius: 0.33em;
    -moz-border-radius: 0.33em;
    -webkit-border-radius: 0.33em;
    -o-border-radius: 0.33em;*/
    box-shadow: 0.25em 0.25em 0.25em #666;
    -moz-box-shadow: 0.25em 0.25em 0.25em #666;
    -webkit-box-shadow: 0.25em 0.25em 0.25em #666;
    -o-box-shadow: 0.25em 0.25em 0.25em #666;
    filter: progid:DXImageTransform.Microsoft.DropShadow(color='#666',offX='20',offY='20');
}
.lightbox_close
{
    display: block;
    overflow: hidden;
   line-height: 0;
    background: url(/Content/img/closeBox.png);
    width: 1.1em;
    height: 1.1em;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    text-indent: -9000px;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    font-weight:bold;
    text-decoration:none;
    color:Black;
}
.lightbox label
{
    display: block;
    margin-bottom: 5px;
    width: 250px;
    font-family: Arial;
    font-size: 1em;
    color: #7B7B7B;
    font-weight:normal;
}

.lightbox label.checkboxLabel
{
    display: inline-block;
    margin-bottom: 5px;
    width: auto;
}

.lightbox input[type=password],
.lightbox input[type=text]
{
    margin-bottom: 20px;
    width: 250px;
}
.lightbox textarea
{
    margin-bottom: 0.5em;
}

.lightbox .submitButton
{
    margin-bottom: 0;
    border:none;
    padding:0.5em;
    background:#052D6E;
    font-weight:bold;
    color:#fff;
    width: auto;
}

.lightbox .lightbox_line label
{
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    width: 200px;
}
.lightbox .lightbox_check input
{
    margin-bottom: 0;
}
.lightbox .lightbox_line .clear
{
    clear: both;
}
.lightbox .lightbox_check label
{
    display: block;
    text-align: left;
    padding-left: 30px;
    width: 350px;
}
.lightbox .lightbox_check input
{
    float: left;
    margin-top: 4px;
     margin-bottom: 0;
}
.lightbox .llightbox_check .clear
{
    clear: both;
    margin-bottom: 4px;
}

.switchLightboxLink
{
    display: block;
    float: right;
    font-size: 0.48em;
}

.popupbox_close
{
    display: block;
    overflow: hidden;
    /*line-height: 0;
    background: url(/Content/img/lightboxClose.gif);
    width: 0.4em;
    height: 0.4em;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    text-indent: -9000px;*/
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    font-weight:bold;
    text-decoration:none;
    color:Black;
}

.showLightBox_link
{
    cursor:pointer;
}
#registerBox,
#registerOrLoginBox
{
    width: 15em;
}

#registerBox input[type=password],
#registerBox input[type=text],
#registerOrLoginBox input[type=password],
#registerOrLoginBox input[type=text]
{
    width: 220px;
}

#addCommentBox,
#addHeadCommentBox
{
    width:34em;
}