
@helper Render(string Header, string Id, string contentId, string link)
{
<div class="leftFrameOuter" id="@Id" link="@link">
    <div class="leftFrameHeader">
        <h2>@Header</h2>
        <a href="javascript:void(0)" class="leftFrameClose">x</a>
    </div>
    <div class="leftFrameContent" id="@contentId">
    </div>
</div>
}